.latest-fix {
  border: 1px solid grey;
  border-top: 4px solid maroon;
  margin: 14px;
}
.top-fix, .team-name-fix {
  width: 100%;
  display: flex;
  gap: 0;
  justify-content: center;
}
.mid-fix {
  border-top: 1px solid grey;
}
.next-fix, .all-fix {
  width: 48%;
  text-align: left;
  color: grey;
  padding: 12px;
  font-size: 1.2rem;
}
.all-fix {
  text-align: right;
  color: #131f32;
  text-decoration: underline;
}
.mid-fix {
  text-align: center;
  padding: 10px;
}
.dated-fix {
  padding: 8px 0;
  font-size: 1.4rem;
  color: #123;
  font-family: "Arial", sans-serif;
  font-weight: 1000;
  
}
.league-fix {
  padding: 4px 0;
  font-size: 1.0em;
  color: grey;
}
.bottom-fix {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.bottom-fix img , .time-fix{
  height: 12vh;
  width: 30%;
  background-color: lightgray;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  object-fit: contain;
}
.time-fix {
  border-radius: 10px;
  background-color: #131f32;
  color: orange;
  font-family: "Arial", sans-serif;
  font-size: 1.8rem;
  font-weight: 1000;
  height: inherit;
  padding-top: 40px;
}
.team-name-fix {
  padding: 15px 10px;
  margin-bottom: 10px;
  /*border-bottom: 2px solid grey;*/
}
.team-home-fix, .team-away-fix {
  font-size: 1.4rem;
  width: 50%;
  text-align: center;
  padding-right: 10%;
}

.team-away-fix {
  padding-left: 15%;
  padding-right: 10px;
}

.team-name-res {
  font-size: 1.4rem;
  text-align: center;
  width: 30%;
  padding: 10px;
}

.team-score {
  color: orange;
  background: #131f32;
  padding: 13px;
  margin: 2px 7px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Arial", sans-serif;
  font-weight: 600;
}

.fixnres-section {
  padding: 10px 5px;
}

